.body-popup{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    background-image: url(../img/wood-texture.jpg);
    background-size: cover;
    padding: 0;
    color: white;
    
    .header{
        font-size: 25px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: darken(gold, 10%);
        letter-spacing: 2px;

        &__heading {
            .img{
                margin: 0 25px;
            }
        }

        .navbar{
            width: 100%;

            .list{
                list-style-type: none;
                display: flex;
                
                &__item{
                    &:hover{
                        background-color: rgba($black, .5);
                    }
                }
            }
        }

        
    }

    .article{
        @include small-space;

        .section{
            &--stats{
                font-size: 13px;
                font-weight: 500;
                span{
                    font-weight: 700;
                    margin-left: 5px;
                }
            }
        }
    }

    a{// refactorize
        color: #fff;
        font-size: 500;
    }
}