.body-popup{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    background-image: url(../img/wood-texture.jpg);
    background-size: cover;
    padding: 0;
    color: white;
    
    .header{
        font-size: 25px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: darken(gold, 10%);
        letter-spacing: 2px;

        &__heading {
            .img{
                margin: 0 25px;
            }
        }

        .navbar{
            display: none;

            width: 100%;

            .list{
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                
                &__item{
                    cursor: pointer;
                    transition: text-shadow ease-in-out 250ms;
                    &:hover{
                        text-shadow: 4px 4px 2px $black;
                    }
                }
            }
        }

        
    }

    .article{
        @include small-space;
        width: 80%;
        display: flex;
        justify-content: space-between;

        .section{
            &--toolbar{
                .toolbar-item{
                    margin: 7px 0;

                    .input{
                        width: 100px;
                        height: 10px;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid transparent;
                        border-radius: 2px;
                        background: rgba(255, 255, 255, .5);
                        margin: 0 5px;
                        transition: border-bottom ease-in-out 250ms;
                        cursor: pointer;

                        &:focus{
                            border-bottom: 2px solid green;
                        }
                    }

                    .button{
                        cursor: pointer;
                    }
                }
            }
            
            &--stats{
                font-size: 13px;
                font-weight: 500;
                span{
                    font-weight: 700;
                    margin-left: 5px;
                }
            }
        }
    }

    a{// refactorize
        color: #fff;
        font-size: 500;
    }
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__link-section{
        width: 90%;
        display: flex;
        .link{
            margin: 0 10px;
        }
    }
    &__bot-version{
        justify-self: flex-end;
    }
}