.fightLog{
    /* Lifting appeariance for battle log view, move to right and enlarge size of window */
    left: -66% !important;
    top: -20% !important;
    height: 90vh !important;
    background-color: rgba(0, 0, 0, .6) !important;
}

.fightLog > .attack {
    /* Increase font size in battlelog attack info */
    font-size: 11px;
}

.battle{
    /* left: 5% !important; */
    left: unset !important;
    right: 280px !important;
}

#msg{
    /* turn off margonem screen notifications */
    /* this should be place in popup settings */
    display: none;
}

.autoShowMiniMap{
    left: unset !important;
    bottom: 30px !important;
    top: unset !important;
    display: block !important;
}

.enlargeMiniMap{
    transform: scale(2);
}