.body-popup {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  background-image: url(../img/wood-texture.jpg);
  background-size: cover;
  padding: 0;
  color: white; }
  .body-popup .header {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #ccac00;
    letter-spacing: 2px; }
    .body-popup .header img {
      margin: 0 25px; }
  .body-popup .article {
    margin: 30px 0; }
    .body-popup .article .section--stats {
      font-size: 13px;
      font-weight: 500; }
      .body-popup .article .section--stats span {
        font-weight: 700;
        margin-left: 5px; }
  .body-popup a {
    color: #fff;
    font-size: 500; }
