.body-popup {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  background-image: url(../img/wood-texture.jpg);
  background-size: cover;
  padding: 0;
  color: white; }
  .body-popup .header {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccac00;
    letter-spacing: 2px; }
    .body-popup .header__heading .img {
      margin: 0 25px; }
    .body-popup .header .navbar {
      width: 100%; }
      .body-popup .header .navbar .list {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 5px 10px;
        box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3);
        font-size: 14px; }
        .body-popup .header .navbar .list__item {
          cursor: pointer;
          transition: text-shadow ease-in-out 250ms;
          padding: 0 15px; }
          .body-popup .header .navbar .list__item .link {
            color: #ccac00;
            text-decoration: none; }
            .body-popup .header .navbar .list__item .link:hover {
              text-shadow: 4px 4px 2px #000;
              color: #ffdf33; }
  .body-popup .article {
    margin: 30px 0;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .body-popup .article .section--toolbar .toolbar-item {
      margin: 7px 0; }
      .body-popup .article .section--toolbar .toolbar-item .input {
        width: 100px;
        height: 10px;
        outline: none;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 5px;
        transition: border-bottom ease-in-out 250ms;
        cursor: pointer; }
        .body-popup .article .section--toolbar .toolbar-item .input:focus {
          border-bottom: 2px solid green; }
      .body-popup .article .section--toolbar .toolbar-item .input-unvalid:focus {
        border-bottom: 2px solid red; }
      .body-popup .article .section--toolbar .toolbar-item .button {
        cursor: pointer; }
    .body-popup .article .section--stats {
      font-size: 13px;
      font-weight: 500; }
      .body-popup .article .section--stats span {
        font-weight: 700;
        margin-left: 5px; }
    .body-popup .article--notes {
      display: block; }
      .body-popup .article--notes .notes-interface {
        display: flex;
        justify-content: center; }
        .body-popup .article--notes .notes-interface .textarea {
          width: 80%;
          height: 65px;
          font-size: 12px;
          padding: 4px;
          border: none;
          border-bottom: transparent;
          border-radius: 2px;
          background: rgba(255, 255, 255, 0.5);
          outline: none;
          resize: none;
          transition: border-bottom ease-in-out 250ms; }
          .body-popup .article--notes .notes-interface .textarea:focus {
            border-bottom: 2px solid rgba(173, 255, 47, 0.5); }
        .body-popup .article--notes .notes-interface .button--save {
          cursor: pointer;
          font-weight: bold; }
      .body-popup .article--notes .notes-list {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse; }
        .body-popup .article--notes .notes-list .single-note {
          color: #000;
          background: rgba(255, 255, 255, 0.5);
          padding: 10px 30px 10px 10px;
          border: none;
          border-radius: 2px;
          word-wrap: break-word;
          position: relative;
          animation-name: fadeInNote;
          animation-duration: 1200ms;
          animation-fill-mode: forwards; }
          .body-popup .article--notes .notes-list .single-note .delete-note {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 20px;
            height: auto;
            cursor: pointer;
            transition: transform ease-in-out 250ms; }
            .body-popup .article--notes .notes-list .single-note .delete-note:hover {
              transform: rotateZ(90deg) scale(1.1); }
        .body-popup .article--notes .notes-list .single-note-fade-out {
          animation-name: fadeOutNote;
          animation-duration: 1200ms;
          animation-fill-mode: forwards; }

@keyframes fadeInNote {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOutNote {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(0); } }
    .body-popup .article--links .list {
      list-style-type: none; }
      .body-popup .article--links .list__item {
        margin: .8rem 0; }
        .body-popup .article--links .list__item .link {
          transition: text-shadow ease-in-out 250ms; }
          .body-popup .article--links .list__item .link:hover {
            text-shadow: 2px 2px 5px black; }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .footer__link-section {
    width: 85%;
    display: flex; }
    .footer__link-section .link {
      margin: 0 10px; }
  .footer__bot-version {
    justify-self: flex-end; }

.link {
  color: #fff;
  font-size: 500; }
